@charset "UTF-8";
@import url("https://cdnjs.cloudeflare.com/ajax/libs/normalise/8.0.1/normalise.css");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;0,800;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;0,800;0,900;1,400&family=Play:wght@400;700&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  min-width: 1120px;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

.img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 652px;
  color: #292929;
  position: relative; /*для прямоугольничка &:before*/
}
.hero:before {
  position: absolute;
  bottom: -30px;
  left: 76%;
  content: url("../img/decor/corner-rectangle-1.png");
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 31px 80px 70px;
  background: url("../img/decor/headphones-1.png") right 73px center/47% no-repeat;
}
.hero__title-section {
  width: 42%;
}
.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.hero__title-desk {
  font-family: "Alegreya Sans";
  font-size: 21px;
  margin-bottom: 36px;
  padding-right: 10%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  font-family: "Alegreya Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}
.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0px;
}
.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
  font-family: "Play";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.hero__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__item {
  margin-right: 19px;
  max-width: 166px;
}
.hero__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}
.feature__text {
  font-size: 16px;
  font-weight: 400;
}

.hello__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 21px;
}
.hello__title__subtitle {
  margin-top: 53px;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  padding: 18px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
}
.btn__color--red {
  background: #E01F3D;
  color: #FFFFFF;
}
.btn__color--red:hover {
  background: #9a5660;
  color: #4d4c4c;
}

.section {
  height: 100vh;
  min-height: 651px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 80px 67px; /*--*/
}
.section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.headline {
  text-align: center;
}
.headline__title {
  margin-bottom: 18px;
  color: #292929;
}
.headline__subtitle {
  font-size: 16px;
  padding: 0 28%;
  margin-bottom: 62px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 0px 79px;
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*padding: 0 3%;*/
  position: relative;
}
.benefits__item:before {
  content: url("../img/decor/separator.png");
  position: absolute;
  top: 55px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0px;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
.benefit__image-wrapper {
  display: inline-block; /*-flex-в лек. и так м.*/
  width: 128px; /*четн*/
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}
.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 25%;
  left: 25%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}
.benefit__text {
  color: #292929;
  padding-left: 46px;
  padding-right: 40.9px;
}
.benefit__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 7px;
}
.benefit__desc {
  font-weight: 400;
  font-size: 16px;
}

.benefits-section {
  position: relative;
}
.benefits-section:before {
  content: url("../img/decor/triangle.png");
  position: absolute;
  bottom: -20px;
  left: 215px;
}

/*.benefits-section{
    background: url("../../img/decor/triangle.png") left 59px top 100% no-repeat;
        position: relative;
}*/
/*content: url("../../img/decor/triangle.png");
        position: absolute;
        bottom: -80px;
        left: 0%;
    }*/
/*&:before{
    position: absolute;
    bottom: 1px;
    left: 1%;
    content: url("../../img/decor/triangle.png");
}*/
.heading {
  background: #F8FAF9;
  height: 100vh;
  min-height: 642px;
  color: #292929;
  position: relative; /*для прямоугольничка &:before*/
}
.heading:before {
  position: absolute;
  bottom: -33px;
  left: 77.3%;
  content: url("../img/decor/square.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 0px 79px;
}
.heading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding: 66px 0px 124px 107px;
  background: url("../img/decor/headphones-2.png") left 102px center/46% no-repeat;
}
.heading__title-section {
  width: 43%;
  /*justify-content: flex-end;
  display: inline-flex;*/
}
.heading__main-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 114px;
  margin-bottom: 24px;
}
.heading__title-desk {
  font-weight: 400;
  font-size: 16px;
  width: 86%;
  padding-bottom: 27px;
}
.heading__book {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.heading__price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 36px;
  color: #151515;
  margin-right: 13px;
}

.heading__peculiarities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.heading__item {
  margin-right: 86px;
  max-width: 166px;
  margin-bottom: 24px;
}
.heading__item:last-child {
  margin-right: 0;
}

.peculiarity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*&__tex{
      align-items: flex-start;
  }*/
}
.peculiarity__title {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  margin-bottom: 1px;
}
.peculiarity__desc {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.command-section {
  position: relative;
  height: 100vh;
  min-height: 656px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 57px 80px 67px;
}

.command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 80px;
}
.command__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.headline-com {
  text-align: center;
}
.headline-com__title {
  margin-top: 73px;
  margin-bottom: 53px;
  color: #292929;
  font-weight: 700;
  font-size: 48px;
}

.member {
  text-align: center;
}
.member__image {
  padding-right: 20px;
  width: 100%;
}
.member__image:last-child {
  padding-right: 0px;
}
.member__text {
  color: #292929;
  padding-left: 18px;
  padding-right: 18px;
}
.member__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 7px;
}
.member__occ {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 7px;
}
.member__desc {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 51px;
  /*display: none;*/
}

.color {
  background: #000000;
  height: 100vh;
  min-height: 652px;
  color: #FFFFFF;
}
.color__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding: 0px 0px 0px 79px;
}

.headline-col {
  text-align: center;
}
.headline-col__title {
  margin-top: 115px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 0px 79px;
}
.reviews__wrapper {
  top: 55px;
  right: 0;
  background: #F8FAF9;
}