.btn{
    font-size: 16px;
    font-weight: 700;
    padding: 18px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;

    &__color--red{
        background: #E01F3D;
        color: #FFFFFF;

        &:hover{
            background: #9a5660;
            color: #4d4c4c;
        }
    }
}