.footer{

    &__address{
        font-size: 18px;
        color: $ColorTitle;
        margin: 20px 42px 86px;
    }

    &__contacts{
        display: flex;
        justify-content: end;
        margin-right: 30px;
    }

    &__social{
        margin-right: 10px;

        &:last-child{
            margin-right: 0px;
        }
    }    
}