.heading{
    background: $light-gray;
    height: 100vh;
    min-height: 642px;
    color: #292929;
    position: relative;/*для прямоугольничка &:before*/

    &:before{
        position: absolute;
        bottom: -33px;
        left: 77.3%;
        content: url("../img/decor/square.png");
        display: flex;
        padding: 0px 10px 0px 79px;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        padding: 66px 0px 124px 107px;
        background: url("../img/decor/headphones-2.png") left 102px center / 46% no-repeat;
        
    }

    &__title-section{
        width: 43%;
        /*justify-content: flex-end;
        display: inline-flex;*/
    }

    &__main-title{
        font-size: 36px;
        line-height: 1.1;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 114px;
        margin-bottom: 24px;
    }

    &__title-desk{
        font-weight: 400;
        font-size: 16px;
        width: 86%;
        padding-bottom: 27px;
    }
   
    &__book{
        align-items: center;
    }

    &__price{
        flex-direction: column;
        justify-content: space-between;
        display: inline-block;
        align-items: center;
        font-weight: 400;
        font-size: 36px;
        color: #151515;
        margin-right: 13px;
    }
}
