.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-number.header__phone-number{   //увеличили значение селектора-2класса
    @include tablets{
        display: none;
    }
}

.menu{   
    @include tablets{
        display: none;
    }

    &__list{
        font-family: 'Alegreya Sans';
        display: flex;
        align-items: center;
        font-size: rem(18px);
    }

    &__item{
        margin-right: rem(27px);
        
        &:last-child{
            margin-right: rem(0px);
        }
    }

    &__link{
        text-decoration: none;
    }
}

.phone-number{
    font-size: rem(18px);
    text-decoration: none;
    font-weight: 400;
    font-family: 'Play';
    display: flex;
    align-items: center;
    
    &__icon-elem{
        width: rem(14px);
        height: rem(14px);
        margin-right: rem(7px);
    }
}
