.headline-col{
    text-align: center;

    &__title{
        margin-top: 115px;
        color:  #FFFFFF;
        font-weight: 700;
        font-size: 48px;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
}