.headline{
    text-align: center;

    &__title{
        margin-bottom: 18px;
        color: #292929;
    }
        &__subtitle{
            font-size: 16px;
            padding: 0 28%;
            margin-bottom: 62px;
        }
}



