$containerWidth: 1100px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$ColorTitle: #292929;
$grey: #F5F5F5;
$black: #181818;
$light-gray: #F8FAF9;
$black: #000000;
$red: #E01F3D;
$lightRed: #9a5660;
$Dark: #CA1B36;
$white: #FFFFFF;




//z-index   чт фикс меню ничто не перекрывало
$z-fixed-menu: 100; 