.member{
    text-align: center;

    &__image{
        padding-right: 20px;
        width: 100%;

        &:last-child{
            padding-right: 0px;
        }
    }

    &__text{
        color: #292929;
        padding-left: 18px;
        padding-right: 18px;
    }

    &__title{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 7px;
    }
       
    &__occ{
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 7px;
    }    
    
    &__desc{
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 51px;
        /*display: none;*/
    }

}