.peculiarity{
    display: flex;

    /*&__tex{
        align-items: flex-start;
    }*/

    &__title{
        font-weight: 400;
        font-size: 16px;
        color: #666666;
        margin-bottom: 1px;
        
    }

    &__desc{
        font-weight: 700;
        font-size: 18px;
        color: #000000;

    }
}