.heading{

    &__peculiarities{
        display: flex;
    }

    &__item{
        margin-right: 86px;
        max-width: 166px;
        margin-bottom: 24px;

        &:last-child{
            margin-right: 0;
        }
    }    
}