.radio{
    display: flex;
    cursor: pointer;
    user-select: none; //чт не выделяло текст тоже-у меня норм

    &--checkbox{
        .radio__visible{
            border-radius: 4px;

            &::before{
                background: url("../img/icons/tick.png") center center no-repeat;
            }
        }
    }

    &__elem{
        display: none;

        &:checked ~ .radio__visible{  //если вкл-checked,то блок кот ниже него
            &::before{     //будет виден
                display: block;
            }
        }
    }

    &__visible{
        width: 25px;
        height: 25px;
        position: relative;
        border-radius: 50%;
        background: $white;

        &:before{   //точка
            content: "";
            width: 13px;
            height: 13px;
            background: $red;
            border-radius: 50%;
            position: absolute;
            display: none;
            top: 25%;
            left: 25%;
            transform: translate(-50% -50%);
        }
    }

    &__title{
        margin-left: 10px;
        margin-right: 36px;

        &:last-child{
            margin-bottom: 48px;
        }
    }
}